    /*css du menu*/
    @import url(https://fonts.googleapis.com/css?family=Questrial); 
    .nav-outer {
    width: 100%;
    background: rgb(0, 0, 0);
    position: fixed !important;
    z-index: 100000000;
    }

    .nav {
    margin-top: 0;
    background: rgb(91, 91, 91);
    font-family: 'Questrial', sans-serif;
    }

    .nav ul {
        overflow: hidden;
        list-style: none;
    }

    .nav-button:hover {
    cursor: pointer;
    }

    .navigation {
    clear: both;
    width: 100%;
    position: relative;
    }

    .nav a {
    color: #F5F5F5;
    text-transform: uppercase;
    text-decoration: none;
    }

    body .nav .nav-menu li a {
    display:inline-block;
	margin-top: 10px;
	padding:15px 20px; 
    color: #F5F5F5;
    font-size: 19px;
    }  

    .nav .h1{
        text-transform: uppercase;
        float: center;
        font-size: 19px;
        vertical-align: middle;
        color: #F5F5F5;
        text-transform: uppercase;
        text-decoration: none;
    }



    .nav .nav-menu {
    text-align: center;
    overflow: visible;
    min-height: 56px;
    min-width: 600px;
    padding-left: 0;
    margin: 0;
    margin-top: 15px;
    display: table;
    float:left
    }

    @media (min-width: 823px) {
        .nav {
            float: center;
        }

        .logo_zoo {
            float: left;
        }
    }

    @media screen and (max-width: 823px) {
        body .nav .nav-menu li a {
            margin-top: 4px;
        }

        .logo_zoo img {
            max-width: 135px !important;
            margin-bottom: 3px;
        }   
    }

    .logo_zoo img {
    max-width: 175px;
    height: auto;
    margin-top: 7px;
    margin-left: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
    }

    .navigation:after {
    content: "";
    display: table;
    clear: both;
    }

    .nav .nav-menu li {
  
    display: table-cell;
    vertical-align: middle;
    }


*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Titullium Web',sans-serif;
    background-color: rgba(148, 149, 138, 0.267);
    color:#e30606;
}


table,th,th{
    border : 8px solid rgb(8, 8, 8);
}

.Tableau img{
    width: 250px;
    height: 250px;
    
}

.zoom {
  padding: 10px;
  
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

