
html{
    background-color: rgb(104, 121, 124);
}
.center-div {
    align-items: center;
    float: center;
    display: flex;
    
}
#inscr{
    background-color: rgb(104, 121, 124);

}
img {
	width: 300px;
	height: 300px;
}
.title{
 font-size: x-large;
 font-weight: bold;
}
.image:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#titreFrm{
  color: rgb(202, 10, 10);
  font-size : x-large;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.phrase{
  color : blue 

}

.place{
  background-color: rgb(233, 218, 218);
  font-size: large;
}

.grdplace{
    background-color: rgb(233, 218, 218);
  height: 150px;
  width: 300px;
}

h1{
  background-color: slategray;
  color : red;
  text-align: center;
}

