body{
background-color:#B0A9A9  ;
margin:0px;
padding: 0px;
}



#titre{
text-align: center;

margin-left: 10%;
margin-right: 10%;
background-color:#030303 ;
width: 80%;
}

#source{
text-align: center;
height: 150px;
width: 30%;

background-color:#F4F6F7;
float: left;
   margin-right: 10px;
	margin-left: 10px ;
	margin-top: 5px;
margin-bottom: 20px;

	border: 5px solid #290404 ;
  border-radius: .5em;
 
  
  

}

#destination{
text-align: center;
border: 3px solid #290404 ;
width: 30%;
margin-left: 64%;
padding: 5px;
background-color: yellow;
margin-top: 32%;


}

#panier{
text-align: center;
font-weight: bold;
font-size: 14pt;
color: yellow;

}

img{
width:100px;
margin: 5px;
height: 100px;




}

.bouton{
margin-right: 20px;
}

.test{
  display: none;
}

#commander{


	margin-left: 86.5%;
}

#reset{

	
	
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
 


    
    
    
    
    font-size: 12px;
    padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-weight: normal;


}
button {
    
    border: none;
    
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-weight: normal;
  margin-left: 80px;
}
h1{

   color: #c00;
}

.s1{

	background-image:url(image/table.jpg);
	background-size: contain;
    background-repeat: no-repeat;
   

    
}
.s2{

	background-image:url(image/jeton.jpg);
	background-size: contain;
    background-repeat: no-repeat;

}
.s3{

	background-image:url(image/jeu.jpg);
	background-size: contain;
    background-repeat: no-repeat

}
.s4{

	background-image:url(image/lunette.jpg);
	background-size: contain;
    background-repeat: no-repeat
}
.s5{

	background-image:url(image/carte.jpg);
	background-size: contain;
    background-repeat: no-repeat
}
.s6{

	background-image:url(image/sweat.jpg);
	background-size: contain;
    background-repeat: no-repeat
}
.s7{

	background-image:url(image/casque.jpg);
	background-size: contain;
    background-repeat: no-repeat
}
.s8{

	background-image:url(image/tapie.jpg);
	background-size: contain;
    background-repeat: no-repeat
}

.s9{

	background-image:url(image/plateau.jpg);
	background-size: contain;
    background-repeat: no-repeat
}


h4{



	margin-top:50px;
	font-family: serif;
	font-style: italic;
	font-weight:normal;
}

#CR{

display:flex;


}
nav{

background-color: black;
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
position: fixed;
top: 0%;
left: 0%;

}
nav ul{
	display: flex;
	text-align: center;
	position: absolute;
	list-style: none;
	
}
nav ul li{
	background: black;
	margin: 10px;
}

nav ul li a
{ 
	width:60px;
	padding: 16px;
	display: block;
	color: #fff;
}

nav ul li:nth-child(2){
	background:#3b5999;

}
nav ul li:nth-child(3){
	background:#55acee;

}

nav ul li:nth-child(1){
	background:#cd201f;

}

nav ul li:hover 
{
	transform: translateY(-8px);
	box-shadow: 0 10px 10px rgba(255);
}

#bande2{
	color: grey;
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
	margin: 0PX 50px 0px 0px;
}
.element{
	margin:25px;
	font-size:18px;
	font-family: 'Roboto', sans-serif;
	text-decoration:none; 
}
.element:hover
{
	text-decoration: wavy underline;
	text-decoration-color: red;
	transform: translateY(-8px);
	color:white;
	text-decoration-thickness: 3px;
}

.modif{
	visibility : hidden ;
}